{% extends 'base.html.twig' %}

{% block title %}Equipes{% endblock %}

{% block body %}

    <h1>Créer une équipe</h1>

    {{ form_start(teamForm) }}
    {{ form_row(teamForm.name) }}
    {{ form_row(teamForm.player) }}

    <button type="submit" class="btn btn-success">
            Enregistrer l'équipe
    </button>

    {{ form_end(teamForm) }}

{% endblock %}