{% extends 'base.html.twig' %}

{% block title %}Equipes{% endblock %}

{% block body %}

    <h1>Les équipes</h1>
    <table>
        <thead>
            <tr>
                <th>Noms</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.name|raw }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('team_create') }}" class="btn-create">Créer une équipe</a>


{% endblock %}
