{% extends 'base.html.twig' %}

{% block title %}Objet connectés{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-12 col-md-8">
            <div class="card card-default card-shadow">
                <div class="card-header">
                    <div class="card-title">
                        <h2>Les objets connectés</h2>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Noms</th>
                                <th>Référence</th>
                                <th>Marque</th>
                                <th>Type</th>
                                <th>Statut</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>AZDelivery4BitDisplay</td>
                                <td>7426817666414</td>
                                <td>AZDelivery</td>
                                <td>Afficheur 7 segments</td>
                                <td>Déconnecté</td>
                            </tr>
                            <tr>
                                <td>AZDelivery4BitDisplay</td>
                                <td>7426817666414</td>
                                <td>AZDelivery</td>
                                <td>Afficheur 7 segments</td>
                                <td>Connecté</td>
                            </tr>
                            <tr>
                                <td>C44174-IZT253</td>
                                <td>3800946818038</td>
                                <td>AERZETIX</td>
                                <td>Afficheur 7 segments</td>
                                <td>Déconnecté</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>B07TY6HRL4</td>
                                <td>‎Thlevel</td>
                                <td>Capteur thermique</td>
                                <td>Déconnecté</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>6b452319c011281eb06ea2f5829dca92</td>
                                <td>‎Perfk</td>
                                <td>Capteur de pulsation cardiaque</td>
                                <td>Déconnecté</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
