{% extends 'base.html.twig' %}

{% block title %}Tournois{% endblock %}

{% block body %}

    <h1>Créer un tournois</h1>

    {{ form_start(tournamentForm) }}

    <button type="submit" class="btn btn-success">
            Enregistrer le tournois
    </button>

    {{ form_end(tournamentForm) }}

{% endblock %}