{% extends 'base.html.twig' %}

{% block title %}Tournois{% endblock %}

{% block body %}

    <h1>Les tournois</h1>
    <table>
        <thead>
            <tr>
                <th>Noms</th>
            </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments %}
            <tr>
                <td>{{ tournament.name|raw }}</td>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tournament_create') }}" class="btn-create">Créer un tournois</a>


{% endblock %}
