{% extends 'base.html.twig' %}

{% block title %}Terrain{% endblock %}

{% block body %}

    <div class="col-xl-12 col-md-8">
        <div class="card card-default card-shadow">
            <div class="card-header">
                <div class="card-title">
                    <h2>Créer un terrain</h2>
                </div>
            </div>
            <div class="card-body">
                {{ form_start(fieldForm) }}
                {{ form_end(fieldForm) }}
            </div>
        </div>
    </div>

    <a href="{{ path('field') }}" class="link-primary">Retour</a>

{% endblock %}