{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

    {% embed '_includes/actionbar.html.twig' %}
        {% block actionbar %}
            <a href="{{ path('user_create') }}" class="link-create">Créer un utilisateur</a>
        {% endblock actionbar %}
    {% endembed %}

    <div class="row">
        <div class="col-xl-12 col-md-8">
            <div class="card card-default card-shadow">
                <div class="card-header">
                    <div class="card-title">
                        <h2>Les utilisateurs</h2>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Noms</th>
                                <th>Prenoms</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.firstName|raw }}</td>
                                <td>{{ user.lastName|raw }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
